/* Worklight container div */
#content {
	height: 460px;
	margin: 0 auto;
	width: 320px
}
div.result{
	margin: 20px 200px;
}
h3.correctLis{
	color: green;
}
.choices_single,.choices_multi{
	display: none;
}
.questext {
	display: inline-block;

}
input.quesfil{
	border: none;
	border-bottom: 2px solid red;
	background: none;
}
.questext input select{
	border-bottom: 2px solid green;
}
.left{
	width: 70%;
	float: left;
	padding: 4px;
	border: 1px solid red;

}
.right{
	width: 25%;
	float: right;
	border: 1px solid red;
}
.active{
	border-bottom: 2px solid green;
}