/* Reset CSS */
a, abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
	margin: 0;
	padding: 0;
}

/* Worklight container div */
/* custom css */

/*#content {
	height: 460px;
	margin: 0 auto;
	width: 320px
}*/
#content {
	margin: 0 auto;
}
div.result{
	margin: 20px 200px;
}
h3.correctLis{
	color: green;
}
.choices_single,.choices_multi{
	display: none;
}
.questext {
	display: inline-block;

}
input.queswrong{
	border: none;
	border-bottom: 2px solid red;
	background: none;
}
.wrongans{
	border: 2px solid red;
}
.trueans{
	border: 2px solid #3388cc;
}
.questext input select{
	border-bottom: 2px solid green;
}
.left{
	width: 70%;
	float: left;
	padding: 4px;


}
.right{
	width: 25%;
	float: right;
	
}
.active{
	border-bottom: 2px solid green;
}
.full-width-slider input {
    display: none;
}
.full-width-slider .ui-slider-track {
    margin-left: 15px;
}
.ui-shadow-inset .ui-body-inherit .ui-corner-all .ui-slider-input{
	display: none;
}
span.correct{
	color: #3388cc;
	font-size: 1.1em;
}
span.incorrect{
	color:red;
	font-size: 1.1em;
}
.myPlayer{

}
.player{
	margin-top: 0px;
}
